/* Start Simple Reset */

/* Definimos colores */

:root {
  --nav: #adcfce;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  background-color: #fcfffd;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* End simple reset */

/* Contenido general (se usa en todas las páginas) */

.title {
  margin-top: 2rem;
  font-size: 2rem;
  text-align: center;
}

.title-2 {
  margin-top: 2rem;
  font-size: 1.7rem;
  text-align: center;
}

.text {
  font-size: 1.2rem;
  text-align: center;
}

.container {
  margin: 0 auto;
  width: 90%;
  text-align: center;
}

.container__map {
  margin: 1rem auto 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.container__map > div {
  width: 320px;
  border-radius: 5px;
  background-color: var(--nav);
  margin-bottom: 1rem;
}

.btn {
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: var(--nav);
  color: #fcfffd;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.btn:hover {
  background-color: #e7f0ea;
  color: var(--nav);
}

.inputText {
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid var(--nav);
  font-size: 1.2rem;
}

.link {
  color: var(--nav);
  font-size: 1.2rem;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
  /* yellow subrayado */
  background-color: yellow;
}

/* Página Error Custom 404 */

.container-404-general {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 1rem;
}

.container-404 {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  width: 90%;
  text-align: center;
  height: 100%;
}

.title-404 {
  font-size: 5rem;
  padding: 1rem 2rem;
  font-weight: bold;
  color: var(--nav);
  border-bottom: 1px solid var(--nav);
}

@media screen and (min-width: 768px) {
  .title-404 {
    border: 0;
    border-right: 1px solid var(--nav);
  }

  .container-404-general {
    flex-direction: row;
  }
}

/* LocalStorage Form */
.form-LS {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.form-LS > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.form-LS > div > input {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid var(--nav);
}

/* Cow.jsx - Vaca */
/* Cuando aparece hace un "shake" */

.vaca-shake {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.vaca-backflip {
  animation: backflip 1.8s ease-in-out;
}

/* Animación de la vaca "shake" */
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

/* Animación de la vaca "backflip" */
@keyframes backflip {
  0% {
    transform: translateY(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  50% {
    transform: translateY(-50px) rotateX(180deg) rotateY(0deg) rotateZ(180deg);
  }
  100% {
    transform: translateY(0px) rotateX(360deg) rotateY(0deg) rotateZ(360deg);
  }
}
